body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background-image: url(download.jpeg);
    background-size: cover;
    background-position: center;
}

.signUpForm{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
}

.signUpForm h1{
    color: #1c8adb;
    margin-bottom: 30px;
}

.inputbox{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid;
    outline: none;
}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(72, 207, 162);
}
.signupbutton{
    background-color: #1c8adb;
}
.twitterbutton{
    background-color: #21afde;
}
a{
    text-decoration: none;
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}